.footer{
    p{
        text-align: center;
        font-size: 0.85rem;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    a:visited{
       color: var(--fg-main); 
    }
}

.footer::before{
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: var(--fg-muted);
}