.footer{
    p{
        text-align: center;
        font-size: 0.75rem;
        margin-bottom: 50px;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    a:visited{
       color: var(--fg-muted); 
    }
}

.footer::before{
    margin-top: 50px;
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: var(--fg-muted);
}