// Colors for social icons
$github: #24292e;
$twitter: #1DA1F2;
$linkedin: #0e76a8;
$rss: #f26522;
$mail: #5d5c5d;
$instagram: #e1306c;
$facebook: #3b5998;
$messenger: #0084ff;
$youtube: #ff0000;
$whatsapp: #25d366;
$reddit: #ff4500;

header{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 450px;
    overflow: hidden;
    position: relative;
    #site_title{
        text-align: center;
        color: var(--fg-strong);
        a{
            text-decoration: none;
        }
        h1{
            margin-bottom: 10px;
        }
        h2{
            margin-top: 0px;
            font-style: oblique;
            font-size: 1.2rem;
        }
    }
    #site_title img {
        filter: invert(6%)
        sepia(18%)
        saturate(120%)
        hue-rotate(8deg)
        brightness(103%)
        contrast(97%);
    }

    #subheader{
        display: block;
        margin-top: 15px;
            .pages{
                display: block;
                float: left;
                a:hover{
                    color: black;
                }
                a{
                    text-decoration: none;
                    color: var(--fg-strong); 
                    margin-right: 3px;
                    font-size: 1.05rem;
                }
            }
            .social{
                display: block;
                float: right;
                i{
                    margin-right: 3px;
                    -o-transition: .5s;
                    -ms-transition: .5s;
                    -moz-transition: .5s;
                    -webkit-transition: .5s;
                    transition: .5s;
                }
                a{
                    color: var(--fg-strong);
                }
                i{
                    font-size: 1.1rem;
                }
                #github:hover{
                    color: $github;
                }
                #twitter:hover{
                    color: $twitter;
                }
                #linkedin:hover{
                    color: $linkedin;
                }
                #rss:hover{
                    color: $rss;
                }
                #envelope:hover{
                    color: $mail;
                }
                #instagram:hover{
                    color: $instagram;
                }
                #facebook:hover{
                    color: $facebook;
                }
                #messenger:hover{
                    color: $messenger;
                }
                #youtube:hover{
                    color: $youtube;
                }
                #whatsapp:hover{
                    color: $whatsapp;
                }
                #reddit:hover{
                    color: $reddit;
                }
                #gumroad:hover{
                    color: rgb(252, 133, 240);
                }
            }
        }
}